/**** General ****/
* {
    box-sizing: border-box;
}

body {
    font-family: "Coda", cursive;
    margin: 0;
    padding: 0;
    background-color: #292929;
    color: #fff;
}

/**** Start Menu ****/
#start-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: #292929;
    font-size: 14px;
}

#start-menu .game-name {
    margin: 5px 0 0;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    color: #2196f3;
}

#start-menu .game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
}

#start-menu .game-info h3 {
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
    color: #2196f3;
}

#start-menu .game-info p {
    margin: 5px 0;
}

#start-menu .description {
    margin: 0 0 5px 0;
    flex: 2;
}

#start-menu .description img {
    max-width: 100%;
    display: none;
}

#start-menu .instructions {
    flex: 3;
}

#start-menu .instructions ul {
    padding-left: 5px;
    list-style: none;
}

#start-menu .instructions li {
    background-color: #2f2f2f;
    border-left: 2px solid #2196f3;
    padding: 3px 0 3px 10px;
    margin-bottom: 5px;
}

#start-menu .game-button {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#start-menu .game-button button {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #2196f3;
    font-size: 30px;
    padding: 2px 0 0 5px;
    cursor: pointer;
    outline: 0;
}

@media all and (min-width: 800px) {
    #start-menu {
        font-size: 18px;
    }

    #start-menu .game-name {
        letter-spacing: 2px;
        font-size: 40px;
    }

    #start-menu .game-info {
        padding: 0 30px;
        flex-direction: row;
    }

    #start-menu .game-info p {
        margin: 10px 0;
    }

    #start-menu .description {
        margin: 0 20px 0 0;
    }

    #start-menu .description img {
        max-width: 75%;
        display: block;
    }

    #start-menu .instructions ul {
        padding-left: 10px;
    }

    #start-menu .instructions li {
        padding: 5px 0 5px 20px;
    }

    #start-menu .game-button {
        justify-content: flex-end;
    }

    #start-menu .game-button button {
        height: 75px;
        width: 75px;
    }
}

@media all and (min-width: 800px) and (max-height: 900px) {
    #start-menu {
        font-size: 14px;
    }

    #start-menu .game-name {
        margin: 2px 0 0;
        padding: 0;
        font-size: 32px;
    }

    #start-menu .description img {
        max-width: 70%;
    }

    #start-menu .game-button {
        padding: 0 10px 10px;
    }

    #start-menu .game-button button {
        height: 55px;
        width: 55px;
    }
}

/***** In-Game Content *****/
.ingame-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

@media all and (min-width: 1000px) {
    .ingame-content {
        width: 60%;
        margin: 0 auto;
    }
}

/**** Score Panel ****/
#score-panel {
    background-color: #2f2f2f;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding: 0 5px;
    height: 40px;
}

#score-panel .stars {
    margin: 0;
    padding: 0;
    color: #ffd700;
}

#score-panel .stars li {
    display: inline-block;
    list-style: none;
    font-size: 20px;
    padding: 0 5px;

}
#score-panel .stars,
#score-panel .moves,
#score-panel .timer {
    flex: 1;
}

@media all and (min-width: 500px) {
    #score-panel {
        font-size: 20px;
        padding: 0 12px;
        height: 60px;
    }

    #score-panel .stars li {
        font-size: 30px;
        padding: 0 10px;
    }
}

@media all and (min-width: 800px) {
    #score-panel {
        font-size: 25px;
        padding: 0 15px;
        height: 80px;
    }

    #score-panel .stars li {
        font-size: 40px;
    }
}

@media all and (min-width: 800px) and (max-height: 900px) {
    #score-panel {
        font-size: 20px;
        padding: 0 10px;
        height: 50px;
    }

    #score-panel .stars li {
        font-size: 25px;
    }
}

/**** Deck ****/
#deck {
    width: 340px;
    height: 360px;
    padding: 16px;
    background-color: #2f2f2f;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#deck .card {
    height: 65px;
    width: 65px;
    background-color: #1d1e20;
    font-size: 0;
    color: #1d1e20;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg);
    transition: transform 0.3s ease-in-out, /* these are seperated because using 'all' causes slow appearing of the dashed border when highlighting a card using keyboard */
                background 0.3s ease-in-out,
                font-size 0.3s ease-in-out,
                color 0.3s ease-in-out;
}

#deck .card.open {
    transform: rotateY(0);
    background-color: #fff;
    cursor: default;
}

#deck .card.show {
    font-size: 17px;
}

#deck .card.no-match {
    cursor: default;
    background-color: #db4039;
    color: #fff;
    font-size: 17px;
    animation: noMatch 0.5s ease-in-out;
}

@keyframes noMatch {
    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

#deck .card.match {
    cursor: default;
    background-color: #2196f3;
    color: #fff;
    font-size: 17px;
    animation: match 0.5s ease-in-out;
}

@keyframes match {
    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

#deck .card.hint {
    animation: hint 0.5s ease-in-out;
    background: #fff;
}

@keyframes hint {
    25% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
}

@media all and (min-width: 500px) {
    #deck {
        width: 500px;
        min-height: 520px;
        padding: 24px;
    }

    #deck .card {
        height: 100px;
        width: 100px;
    }

    #deck .card.show,
    #deck .card.no-match,
    #deck .card.match {
        font-size: 28px;
    }
}

@media all and (min-width: 800px) {
    #deck {
        width: 660px;
        min-height: 680px;
        padding: 32px;
    }

    #deck .card {
        height: 125px;
        width: 125px;
    }

    #deck .card.show,
    #deck .card.no-match,
    #deck .card.match {
        font-size: 33px;
    }
}

@media all and (min-width: 800px) and (max-height: 900px) {
    #deck {
        width: 440px;
        min-height: 460px;
        padding: 24px;
    }

    #deck .card {
        height: 85px;
        width: 85px;
    }

    #deck .card.show,
    #deck .card.no-match,
    #deck .card.match {
        font-size: 24px;
    }
}

/**** Tools Panel ****/
#tools-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding: 0 5px 10px;
    height: 40px;
}

#tools-panel .hint {
    position: relative;
    background-color: #1d1e20;
    box-shadow: 5px 2px 20px 0 rgba(0, 0, 0, 0.2);
}

#tools-panel .hint .notification {
    position: absolute;
    top: -30%;
    right: -30%;
    height: 30px;
    width: 30px;
    font-size: 20px;
    background-color: #db4039;
    border-radius: 50% 50% 50% 0;
    overflow: hidden;
}

#tools-panel .hint .notification.flash {
    animation: flash 0.4s;
}

@keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

#tools-panel .restart {
    background-color: #db4039;
    box-shadow: 5px 2px 20px 0 rgba(255, 0, 0, 0.2);
}

#tools-panel .restart,
#tools-panel .hint {
    width: 45px;
    height: 45px;
    padding-top: 5px;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}

#tools-panel .rotate i {
    transform: rotate(0);
    animation: rotate 0.5s ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media all and (min-width: 500px) {
    #tools-panel {
        font-size: 20px;
        padding: 0 5px 12px;
        height: 60px;
    }

    #tools-panel .hint .notification {
        right: -20%;
        height: 35px;
        width: 35px;
        font-size: 25px;
    }

    #tools-panel .restart,
    #tools-panel .hint {
        width: 55px;
        height: 55px;
        padding-top: 8px;
        font-size: 30px;
    }
}

@media all and (min-width: 800px) {
    #tools-panel {
        font-size: 30px;
        padding: 0 5px 15px;
        height: 80px;
    }

    #tools-panel .hint .notification {
        height: 40px;
        width: 40px;
        font-size: 30px;
    }

    #tools-panel .restart,
    #tools-panel .hint {
        width: 75px;
        height: 75px;
        padding-top: 10px;
        font-size: 35px;
    }
}

@media all and (min-width: 800px) and (max-height: 900px) {
    #tools-panel {
        height: 50px;
    }

    #tools-panel .hint .notification {
        height: 35px;
        width: 35px;
        font-size: 25px;
    }

    #tools-panel .restart,
    #tools-panel .hint {
        width: 60px;
        height: 60px;
        padding-top: 10px;
        font-size: 30px;
    }
}

/**** Modal ****/
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hidden {
    display: none;
}

#modal {
    width: 80%;
    background-color: #292929;
}

#modal .modal-header {
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 0 0;
    padding: 5px 10px;
    font-size: 30px;

}

#modal .modal-score {
    display: flex;
    flex-direction: column;
    padding: 5px 35px;
}

#modal .modal-score .modal-stars {
    font-size: 40px;
    color: #ffd700;
    text-align: center;
    margin: 0 0 20px;
}

#modal .modal-score .modal-stars i:not(:nth-child(2)) {
    font-size: 30px;
}

#modal .modal-score .modal-moves,
#modal .modal-score .modal-hints,
#modal .modal-score .modal-time {
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f2f2f;
    border-left: 2px solid #fff;
}

#modal .modal-score .modal-moves span,
#modal .modal-score .modal-hints span,
#modal .modal-score .modal-time span {
    font-size: 25px;
    font-weight: bold;
}

#modal .modal-buttons {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#modal .modal-buttons button {
    height: 50px;
    width: 50px;
    font-size: 30px;
    margin: 0 30px 0;
    border-radius: 50%;
    cursor: pointer;
}

#modal .modal-buttons button:focus {
    outline: 0;
}

#modal .modal-buttons .modal-back {
    background-color: #db4039;
    box-shadow: 5px 2px 20px 0 rgba(255, 0, 0, 0.2);
    border: 2px solid #db4039;
    color: #fff;
}

#modal .modal-buttons .modal-replay {
    padding: 2px 0 0 2px;
    box-shadow: 5px 2px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 2px solid #fff;
    color: #292929;
}

@media all and (min-width: 500px) {
    #modal .modal-header {
        margin: 15px 0 0;
        padding: 10px 15px;
        font-size: 40px;
    }

    #modal .modal-score {
        padding: 10px 60px;
    }

    #modal .modal-score .modal-stars {
        font-size: 50px;
    }

    #modal .modal-score .modal-stars i:not(:nth-child(2)) {
        font-size: 40px;
    }

    #modal .modal-score .modal-moves,
    #modal .modal-score .modal-hints,
    #modal .modal-score .modal-time {
        font-size: 22px;
        padding: 10px 15px;
        margin-bottom: 15px;
    }

    #modal .modal-score .modal-moves span,
    #modal .modal-score .modal-hints span,
    #modal .modal-score .modal-time span {
        font-size: 30px;
    }

    #modal .modal-buttons {
        padding: 30px 0;
    }

    #modal .modal-buttons button {
        height: 70px;
        width: 70px;
        font-size: 40px;
    }
}

@media all and (min-width: 800px) {
    #modal {
        width: 600px;
    }
}